.Contact{
  background-color: #191919;
}
.Contact h1{
    font-size: 60px;
}
.Contact p{
    font-size: 18px;
    line-height: 30px;
    color: rgba(29,29,36,.75);
    font-weight: 400;
}
input{
    display: block;
    width: 100%;
    padding: 0 20px;
    border: 2px solid rgba(0,0,0,.1);
    border-radius: 5px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    height: 50px;
    line-height: 46px;
    margin: 20px 0px;
    outline: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: .1px;
    background: none;
    border: 2px solid hsla(0,0%,100%,.2);
}
textarea{
    height: 120px;
    background: none;
    padding: 0 20px;
    width: 100%;
    line-height: 46px;
    color: #fff;
    font-size: 15px;
    letter-spacing: .1px;
    border: 2px solid #ffffff33;
}
.Contact button{
  margin-top: 20px;
}
.Contact img{
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
}
 @media only screen and (max-width: 1024px){
   .Contact img{
     margin-top: 70px;
   }
 }
 @media only screen and (max-width: 768px){
   .Contact h1{
    font-size: 30px;
    margin-left: 30%;
  }
  .Contact p{
    margin-left: 28%;
    font-size: small;
  }
  .Contact button{
    margin-left: 27%;
  }
  .Contact img{
  border-radius: 10px;
  width: 50%;
  border-radius: 20%;
  margin-left: 25%;
  overflow: hidden;
}
 }
 @media only screen and (max-width: 320px){
    .Contact h1{
    margin-left: 20%;
  }
  .Contact p{
    margin-left: 18%;
  }
  .Contact button{
    margin-left: 20%;
  }
 }