.About{
  background: #191919;
}
img.AboutImg{
  width: 100%;
  border-radius: 10px;
}
h1.Heading{
  margin-bottom: 10px;
  text-align: start;
  font-family: monospace;
  font-weight: 700;
  font-size: 60px;
}
button.about.btn.pointer{
  text-transform: capitalize;
  width: 195px;
  height: 55px;
  font-size: 18px;
  transition: .4s ease;
}
.about__button{
  padding: 20px 0px;
}
.UptoTop a{
    width: 40px;
    height:40px;
    position: fixed;
    bottom:7%;
    right: 2%;
    background-color: #F9004D;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 12px;
    padding-top: 10px;
    z-index:1000;
}
.UptoTop svg{
  animation: scrollTop 0.5s alternate ease infinite;
}
@keyframes scrollTop{
  from{
        transform:translateY(2px);
  }
  to{
      transform:translateY(-1px);
  }
}
/*Responsive*/
 @media only screen and (max-width: 1024px){
   .About p{
     font-size: 17px;
     margin-left: -30px;
   }
   .About img{
     margin-top: 110px;
     margin-left: -50px;
   }
 }
 @media only screen and (max-width: 768px){

.About p{
     font-size: 15px;
     margin-left: 10px;
   }  
    .About img{
     margin-top: 5px;
     margin-left: -90px;
     width: 420px;
   }
   h1.Heading{
     margin-left: 35%;
     font-size: 40px;
   }
   .About button{
      width: 125px;
      height: 35px;
      font-size: 14px;
      margin-left: 155%;
   }
 }
  @media only screen and (max-width: 425px){
.About img{
     
     margin-right: 38px;
     
   }
   h1.Heading{
     margin-left: 22%;
   }
    .About button{
      margin-left: 30%;
   }
  }
  @media only screen and (max-width: 320px){
.About img{ 
   width: 140%;
   }
   .About button{
      margin-left: 2%;
   }
  }